<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Essen">

	<listeners>
		<listener class-name="com.essen.utilities.Reporting" />
	</listeners>

	<test name="eCares">
		<parameter name="browser" value="chrome" />

		<classes>
		  			<class name="com.essen.testCases.TC_LoginTest_001" >
		  					<methods>
		  							<exclude name="logintest1"></exclude>
		  					</methods>
		  			</class>
		  			
		<!--		<class name="com.essen.testCases.TC_PageChecker_005" /> 
	 	     		<class name="com.essen.testCases.TC_LoginTestDDT_002" />   
					<class name="com.essen.testCases.TC_UserTest_003" />   
					<class name="com.essen.testCases.TC_TOCHospitalization_004" />	
					
					<class name="com.essen.testCases.TC_SSRSChecker">  
						<methods>
								<include name="PgChecker_.*">	</include>
						</methods>
	
					</class> -->
					
					<class name="com.essen.testCases.TC_PowerBIChecker">   
							<methods>
										<include name="ProviderPanelDashboard">	</include>
										<include name="FacilityPanelDashboard">	</include>
										<include name="PostAcuteCareDashboard">	</include>
							</methods> 
					</class> 
					
		</classes>

	</test>

</suite>